* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(240deg,#C0C0C0,#565051);
  color: black;
  font-family: "Poppins",sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.5rem;

}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  outline:none;
  background: rgba(255, 255, 255, 0.806);
}

form button{
  color:#e6e0e1;
  background: rgb(41, 39, 39);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background:#e6e0e1;
  color: rgb(41, 39, 39);
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.todo-list{
  min-width: 30%;
  list-style: none;

}

.todo{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex:1;

}

.trash-btn, .complete-btn{
  color:#e6e0e1;
  background: #292727;
  padding: 1rem;
  border: none;
  cursor:pointer;
  font-size: 1rem;
}

.complete-btn{
  background: #488b86;
}

.todo-item{
  padding-left: 1rem;
}

.fa-trash,.fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #292727;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 10rem;
  padding: 1.1rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  background:#292727 ;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  pointer-events: none;
}

.select:hover::after{
  background:#e6e0e1;
  color: #292727;

}

